@model PharmacySolution.Web.Core.Models.OrderViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">

            <div class="form-group">
                @Html.LabelFor(model => model.PharmacyId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PharmacyId, ViewBag.Pharmacies as SelectList)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OperationType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.OperationType, ViewBag.OperationTypes as SelectList)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OperationDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OperationDate)
                    @Html.ValidationMessageFor(model => model.OperationDate)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new {}, new {@class="btn btn-default"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}