@using GridMvc.Html
@model IEnumerable<PharmacySolution.Web.Core.Models.MedicamentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medicaments</h2>
<script src="~/Scripts/jquery-1.10.2.js">
</script>
<p>
    @Html.ActionLink("Create New", "Create", new {}, new {@class="btn btn-primary"})
</p>
<p>
    @Html.Label("Select pharmacy")
</p>
@Html.DropDownList("Pharmacy", ViewBag.Pharmacies as List<SelectListItem>, new { style = "width:250px", @class = "dropdown form-control", @id = "drop-down-list" })
<div id="table-to-change">
@Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.Name).Titled("Number").SetWidth("15%").Sortable(true);
    columns.Add(foo => foo.SerialNumber).Titled("Address").SetWidth("15%").Sortable(true);
    columns.Add(foo => foo.Description).Titled("PhoneNumber").SetWidth("40%").Sortable(true);
    columns.Add(foo => foo.Price).Titled("PhoneNumber").SetWidth("10%").Sortable(true);
    columns.Add().Titled("").Encoded(false).Sanitized(false).RenderValueAs(m => @<b>
        @Html.ActionLink("Edit", "Edit", new { id = m.Id },
                    new { @class = " btn btn-primary" })

        @Html.ActionLink("Details", "Details", new { id = m.Id },
                    new { @class = " btn btn-default" })

        @Html.ActionLink("Delete", "Delete", new { id = m.Id },
                    new { @class = " btn btn-danger" })
    </b>).SetWidth("20%");
}).WithPaging(5)
</div>
<script>
    $(document).ready(function () {
        $("#drop-down-list").change(function () {
            $.ajax({
                method: "Get",
                url: "/Medicament/GetTable",
                data: "id=" + $("#drop-down-list").val(),
                success: function (data) {
                    $("#table-to-change").html(data);
                },
                error: function () {
                    alert("Ошибка установки значения :-(((");
                }
            });
        });
    })
</script>